<nav>


  <%= link_to 'Last', request.params.merge(month: @month.last_m.month, year: @month.last_m.year) %>
  <span><%= @month.name %> <%= @month.year %></span>
  <%= link_to 'Next', request.params.merge(month: @month.next_m.month, year: @month.next_m.year) %>
</nav>

<table class='day-labels'>
  <tr>
    <td><span>Sun</span></td>
    <td><span>Mon</span></td>
    <td><span>Tue</span></td>
    <td><span>Wed</span></td>
    <td><span>Thu</span></td>
    <td><span>Fri</span></td>
    <td><span>Sat</span></td>
  </tr>
</table>

<table class='cal-body'>
  <% @month.data.each_slice(7) do |week| %>
    <tr>
      <% week.each do |day| %>
        <td>
          <div class="cell <%= 'today' if day[:today] %>">
            <p class='date'><%= day[:date].day %></p>
            <% if day[:event] %>
              <div class='indicator filled'></div>
            <% else %>
              <div class='indicator'></div>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
