<div class="cal-wrapper">
  <div class="cal-top">
    <div class="cal-title">
      <h4 class='month-name'><%= @month.name.upcase %> <%= @month.year %></h4>
    </div>
    <div class="cal-nav">
      <%= link_to '<i class="material-icons">keyboard_arrow_left</i>'.html_safe,
          request.params.merge(month: @month.last_month.month, year: @month.last_month.year)
      %>
      <%= link_to '<i class="material-icons today-link">today</i>'.html_safe, months_path %>
      <%= link_to '<i class="material-icons">keyboard_arrow_right</i>'.html_safe,
        request.params.merge(month: @month.next_month.month, year: @month.next_month.year)
      %>
    </div>
  </div>

  <div class="cal-body-wrapper">
    <table class='cal-body'>
    <thead>
      <tr>
        <th><h4>SU</h4></th>
        <th><h4>MO</h4></th>
        <th><h4>TU</h4></th>
        <th><h4>WE</h4></th>
        <th><h4>TH</h4></th>
        <th><h4>FR</h4></th>
        <th><h4>SA</h4></th>
      </tr>
    </thead>

    <tbody>
      <% @month.weeks.each do |week| %>
        <tr>
          <% week.each do |day| %>
            <td>
              <div class="cell <%= 'today' if day.today? %> <%= 'event-today' if day.has_events? %> <%= 'grayout' unless day.in_month?(@month.year, @month.month) %>">
                <h2 class="date">
                  <%= link_to day.date, events_path(
                        day: day.date,
                        month: day.month,
                        year: day.year
                      )
                  %>
                </h2>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>
</div>
