<dl class="sub-nav">
  <%= link_to 'Last', request.params.merge(month: @month.last_m.month, year: @month.last_m.year) %>
  <span><%= @month.name %> <%= @month.year %></span>
  <%= link_to 'Next', request.params.merge(month: @month.next_m.month, year: @month.next_m.year) %>
</dl>

<table class='cal-body'>
  <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    <% @month.data.each_slice(7) do |week| %>
    <tr>
      <% week.each do |day| %>
      <td>
        <div class="cell <%= 'today' if day[:today] %>">
          <p>
            <%= link_to day[:date].day, events_path(
                  day: day[:date].day,
                  month: day[:date].month,
                  year: day[:date].year
                )
            %>
          </p>
          <div class='indicator <%= 'filled' if day[:event] %>'></div>
        </div>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
