<article class="event shadow">
  <div class="row">
    <div class="row">
      <div clas="row">
        <div class="small-6 columns">
          <h4 class="event-title"><%= link_to event.title, event_path(event) %><h4>
        </div>
        <div class="small-6 columns">
          <div class="button-group event-buttons">
            <span class="event-time"><%= event.start_str %> - <%= event.end_str %></span>
            <%= link_to 'Edit', edit_event_path(event), class: "button secondary tiny" %>
            <%= link_to 'Delete', event_path(event), method: :delete, class: "button alert tiny" %>
          </div>
        </div>
      </div>
    </div>
    <p class="event-descript"><%= event.description %> </p>
    <div class="row">
      <div class="small-2 columns">
        <% if event.has_lighting? %>
          <span>Lighting: <i class="material-icons overview-icon">done</i></span>
        <% else %>
          <span>Lighting: <i class="material-icons overview-icon">close</i></span>
        <% end %>
      </div>
      <div class="small-2 columns">
        <% if event.has_sound? %>
          <span>Sound: <i class="material-icons overview-icon">done</i></span>
        <% else %>
          <span>Sound: <i class="material-icons overview-icon">close</i></span>
        <% end %>
      </div>
      <div class="small-2 columns">
        <% if event.has_scenic? %>
          <span>Scenic: <i class="material-icons overview-icon">done</i></span>
        <% else %>
          <span>Scenic: <i class="material-icons overview-icon">close</i></span>
        <% end %>
      </div>
      <div class="small-2 columns">
        <% if event.has_catering? %>
          <span>Catering: <i class="material-icons overview-icon">done</i></span>
        <% else %>
          <span>Catering: <i class="material-icons overview-icon">close</i></span>
        <% end %>
      </div>
      <div class="small-2 columns end">
        <% if event.has_wardrobe? %>
          <span>Wardrobe: <i class="material-icons overview-icon">done</i></span>
        <% else %>
          <span>Wardrobe: <i class="material-icons overview-icon">close</i></span>
        <% end %>
      </div>
    </div>
  </div>
</article>
