<article class="event">
  <div class="row">
    <div class="small-2 columns event-time-index">
      <div class="event-time-wrapper">
        <span class="event-time"><%= event.start_str %></span>
        <span class="event-end-time">ends <%= event.end_str %></span>
      </div>
    </div>
    <div class="small-9 columns end">
      <div class="row">
        <div class="small-12 columns event-title-container">
          <h3 class="event-title"><%= link_to event.title, event_path(event) %></h3>
          <div class="event-buttons">
            <div class="circle-button">
              <%= link_to '<i class="material-icons">create</i>'.html_safe, edit_event_path(event) %>
            </div>
            <div class="circle-button">
              <%= link_to '<i class="material-icons">clear</i>'.html_safe, event_path(event), method: :delete %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns tag-container">
          <% if event.has_lighting? %>
            <span class="dept-tag">lighting</span>
          <% end %>
          <% if event.has_sound? %>
            <span class="dept-tag">sound</span>
          <% end %>
          <% if event.has_scenic? %>
            <span class="dept-tag">scenic</span>
          <% end %>
          <% if event.has_catering? %>
            <span class="dept-tag">catering</span>
          <% end %>
          <% if event.has_wardrobe? %>
            <span class="dept-tag">wardrobe</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</article>
