<div class='event'>
  <li>
    <h3><%= link_to event.title, event_path(event) %></h3>
    <p><%= event.description %></p>
    <span><%= event.start_time %></span>
    <br>
    <span><%= event.end_time %></span>
    <br>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Delete', event_path(event), method: :delete %>
  </li>
</div>
<br>
