<%= form_for @event do |f| %>
  <% if @date %>
  <%= f.hidden_field :date, value: @date.to_time %>
  <% end %>
  <div class="row">

    <div class="row">
      <div class="small-2 columns">
        <%= f.label :title %>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :description %>
      </div>
      <div class="small-10 columns">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :start_time, 'Start Time' %>
      </div>
      <div class="small-4 columns">
        <%= f.datetime_local_field :start_time %>
      </div>
      <div class="small-2 columns">
        <%= f.label :end_time, 'End Time' %>
      </div>
      <div class="small-4 columns">
        <%= f.datetime_local_field :end_time %>
      </div>
    </div>
  </div>
  <%= f.submit 'Submit', class: "button small radius" %>
<% end %>
