<div class="event-header-wrapper">
  <div class='event-nav-wrapper'>
    <div class='day-title'>
      <h3 class="date"><%= @date.strftime("%A %b %-d, %Y").upcase %></h3>
    </div>
    <div class="day-nav">
      <%= link_to '<i class="material-icons">keyboard_arrow_left</i>'.html_safe,
          events_path(@yesterday),
          class: "arrow"
      %>
      <%= link_to '<i class="material-icons today-link">today</i>'.html_safe,
          events_path(month: Time.now.month, day: Time.now.day, year: Time.now.year)
      %>
      <%= link_to '<i class="material-icons">keyboard_arrow_right</i>'.html_safe,
          events_path(@tomorrow),
          class: "arrow"
      %>
    </div>
  </div>

  <div class="event-form">
    <%= render 'form' %>
  </div>

  <%= render @events %>
</div>
