<div class="row event-show shadow">
  <div class="medium-2 columns event-show-time">
    <p><%= @event.display_date %></p>
    <p>Start</p>
    <h3><%= @event.start_str %></h3>
    <p>End</p>
    <h3><%= @event.end_str %></h3>
  </div>
  <div class="medium-10 columns">
    <div class="row event-show-banner">
      <div class="medium-9 columns">
        <h3><%= @event.title %></h3>
      </div>
      <div class="medium-3 columns">
        <ul class="button-group event-show-buttons">
          <li>
            <%= link_to 'Edit', edit_event_path(@event), class: "button tiny secondary" %>
          </li>
          <li>
            <%= link_to 'Delete', event_path(@event), method: :delete, class: "button tiny alert" %>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="medium-12 columns">
        <p><%= @event.description %></p>
      </div>
    </div>
  </div>
</div>

<% @categories.each do |category| %>
  <article class="resource-category shadow">
    <h3><%= category %></h3>
    <table class="resource-table">
      <thead>
        <tr>
          <th class="resource-column">Resource</th>
          <th>Notes</th>
          <th class="quantity-column">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @resources.select { |resource| resource.inventory_item.category == category }.each do |resource| %>
          <tr>
            <td class="resource-column"><%= resource.inventory_item.name %></td>
            <td>None</td>
            <td class="quantity-column">
              <span><%= resource.quantity %></span>
              <div class="resource-buttons">
                <%= link_to 'Edit',
                    edit_event_resource_path(@event, resource),
                    class: "button secondary tiny resource-edit"
                %>
                <%= link_to 'Delete',
                    api_resource_path(resource),
                    method: :delete, class: "button alert tiny resource-delete"
                %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'resources/form' %>
  </article>
<% end %>
