<div class="event-show-wrapper">
  <article class="event-show">
    <h3><%= @event.title %></h3>
    <hr>
    <div class="event-show-description">
      <p><%= @event.description %></p>
    </div>
    <span><%= @event.display_date %> </span>
    <span><%= @event.start_str %> - <%= @event.end_str %></span>
    <span></span>

  </article>


  <% @categories.each do |category| %>
    <article class="resource-category">
      <h3><%= category %></h3>
      <table class="resource-table">
        <thead>
          <tr>
            <th class="resource-column">Resource</th>
            <th class="notes-column">Notes</th>
            <th class="quantity-column">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @resources.select { |resource| resource.inventory_item.category == category }.each do |resource| %>
            <tr class="resource-row">
              <td class="resource-column"><%= resource.inventory_item.name %></td>
              <td class="notes-column">-</td>
              <td class="quantity-column" id="<%= resource.id %>">
                <span><%= resource.quantity %></span>
                <div class="resource-buttons">
                  <%= link_to '<i class="material-icons">create</i>'.html_safe,
                      edit_event_resource_path(@event, resource),
                      class: "resource-edit"
                  %>
                  <%= link_to '<i class="material-icons">clear</i>'.html_safe,
                      api_resource_path(resource),
                      method: :delete, class: "resource-delete"
                  %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'resources/form', category: category %>

    </article>
  <% end %>
</div>


<div class="event-show-buttons">
  <div class="circle-button">
    <%= link_to '<i class="material-icons">create</i>'.html_safe, edit_event_path(@event) %>
  </div>
  <div class="circle-button">
    <%= link_to '<i class="material-icons">clear</i>'.html_safe, event_path(@event), method: :delete %>
  </div>
</div>
