<div class="splash">
  <div class="splash-title">
    <h1>EventCal.</h1>
    <h3>The world's most powerful</h3>
    <h3>resource-driven event management application.</h3>
  </div>
  <div class="login-form">
    <h2>Log in</h2>

    <%= form_for(resource, arails: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="field">
              <div class="small-2 columns">
                <%= f.label :email, class: "left inline" %>
              </div>
              <div class="small-10 columns">
                <%= f.email_field :email, autofocus: true %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="field">
              <div class="small-2 columns">
                <%= f.label :password, class: "left inline" %>
              </div>
              <div class="small-10 columns">
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
            </div>
          </div>
          <div class="row">
            <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    <div class="actions">
      <%= f.submit "Log in", class: "button radius small" %> or
      <%= link_to "Sign in with Github",
          omniauth_authorize_path(resource_name, "github"),
          class: "button radius small"
       %>
    </div>
  <% end %>
</div>
