<%= form_for [@event, @resource] do |f| %>
  <%= f.hidden_field :event_id, value: @event.id %>
  <div class="row">
    <div class="small-5 columns">
      <div class="small-3 columns">
        <%= f.label :inventory_item_id, 'Resource' %>

      </div>
      <div class="small-9 columns">
        <%= f.select :inventory_item_id, grouped_options_for_select(@categories_select) %>

      </div>
    </div>
    <div class="small-5 columns">
      <div class="small-3 columns">
        <%= f.label :quantity %>

      </div>
      <div class="small-9 columns">
        <%= f.text_field :quantity %>

      </div>
    </div>
    <div class="small-2 columns">
      <%= f.submit 'Add', class: "button tiny" %>
    </div>
  </div>
<% end %>
