<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <span>EventCal</span>
    <% if current_user %>
      <span>
        <%= link_to 'Log Out', destroy_user_session_path, method: 'delete' %>
      </span>
      <span>
        <%= form_tag("/users", method: "delete") do %>
          <%= submit_tag "Cancel Account" %>
        <% end %>
      </span>
    <% else %>
      <span><%= link_to 'Log In', new_user_session_path %></span>
      <span><%= link_to 'Sign Up', new_user_registration_path %></span>
    <% end %>
  </nav>
  <%= notice if notice %>
  <%= alert if alert %>

  <%= yield %>

</body>
</html>
