<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EventCal</title>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"  %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar main-nav-shadow" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Event<span class="header-title">Cal</span>'.html_safe, months_path %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
            <li><%= link_to "Calendar", months_path %></li>
            <li><%= link_to "New Event", new_event_path %></li>
            <li class="has-dropdown active">
              <%= link_to current_user.identifier, "#" %>
              <ul class="dropdown">
                <li class="divider">
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
                </li>
                <li class="divider">
                  <%= link_to 'Cancel Account', user_registration_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="active"><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <% if notice %>
      <div data-alert class="alert-box">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <% if alert %>
      <div data-alert class="alert-box alert">
        <%= alert %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
